#
# systemd unit file for CentOS 7, Ubuntu bleeding edge
#
[Unit]
Description=Inspeqtor
After=syslog.target network.target

# http://0pointer.de/public/systemd-man/systemd.service.html
# http://0pointer.de/public/systemd-man/systemd.exec.html
[Service]
Type=simple
ExecStart=/usr/bin/inspeqtor -c /etc/inspeqtor -s /var/run/inspeqtor.sock
ExecReload=/bin/kill -HUP $MAINPID
# ensure our socket is cleaned up, even if we crashed
ExecStartPre=/bin/rm -f /var/run/inspeqtor.sock
RestartSec=1
Restart=on-failure

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=inspeqtor

[Install]
WantedBy=multi-user.target
